<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true">
    <Properties>
        <Property name="appName">EasyCache</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <LevelPatternSelector defaultPattern="%-12d{HH:mm:ss,SSS} [%highlight{%-5level}] %-24c:%-4L - %msg%n">
                    <PatternMatch key="DEBUG" pattern="%-12d{HH:mm:ss,SSS} [%highlight{%-5level}] %-24c:%-4L - %msg%n" />
                    <PatternMatch key="ERROR" pattern="%-12d{HH:mm:ss,SSS} [%highlight{%-5level}] %-24c:%-4L - %msg%n" />
                    <PatternMatch key="INFO" pattern="%-12d{HH:mm:ss,SSS} [%highlight{%-4level}] %msg%n" />
                </LevelPatternSelector>
            </PatternLayout>
        </Console>
        <File name="file" fileName="${appName}.log" append="false">
            <PatternLayout disableAnsi="false">
                <LevelPatternSelector defaultPattern="%-12d{HH:mm:ss,SSS} [%-5level] %-24c:%-4L - %msg%n">
                    <PatternMatch key="DEBUG" pattern="%-12d{HH:mm:ss,SSS} [%-5level] %-24c:%-4L - %msg%n" />
                    <PatternMatch key="ERROR" pattern="%-12d{HH:mm:ss,SSS} [%-5level] %-24c:%-4L - %msg%n" />
                    <PatternMatch key="INFO" pattern="%-12d{HH:mm:ss,SSS} [%-4level] %msg%n" />
                </LevelPatternSelector>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>